/**
 * Base / Settings
 */

$primary-color: #25282A;
$primary-font: "Oswald", sans-serif;

body {
    background: #fff;
    color: $primary-color;
}

// adaptative images
img {
    height: auto;
    max-width: 100%;
}
