<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Tray OpenCode by tray-tecnologia</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Tray OpenCode</h1>
        <h2>Documentação para desenvolvimento de temas da plataforma de e-commerce Tray</h2>
        <a href="https://github.com/tray-tecnologia/theme-template" class="button">
          <img src="images/tray-commerce.svg" class="brand" width="150" height="124" alt="Tray Commerce">
        </a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>
            <a name="tray-opencode" class="anchor" href="#tray-opencode"><span class="octicon octicon-link"></span></a>Tray OpenCode (Beta)
          </h1>

          <p>Criar novos layouts para sua loja agora é um processo mais simples e rápido. Utilizando o Tray OpenCode você pode fazer vários testes de layout.</p>

          <p>Com o Tray OpenCode você tem uma ótima oportunidade de deixar sua loja virtual sempre bonita e atualizada para várias ocasiões que envolvem datas comemorativas como Natal, Dia das Mães e Dia dos Namorados, entre outras.</p>

          <h2 id="avisos">Avisos</h2>

          <p><strong>Importante:</strong> <em>Não nos responsabilizamos pelo uso de variáveis, helpers e funções que não estão documentadas aqui. Elas podem passar por ajustes e mudanças sem aviso prévio.</em></p>

          <p>Seja cuidadoso ao utilizar variáveis ou parâmetros que estão com a nomenclatura em português, provavelmente será alterado para o inglês assim que possível. Avisaremos com antecedência sobre essas mudanças.</p>

          <h2 id="iniciando-meu-primeiro-tema">Iniciando meu primeiro tema</h2>

          <p>Existem algumas maneiras disponíveis para iniciar um tema, veja algumas delas.</p>

          <h4 id="op-o-1-opencode-theme-gem">Opção 1: OpenCode Theme GEM (Recomendado)</h4>

          <p>
            A GEM permitirá que você tenha um ambiente de alta produtividade, por isso é a nossa recomendação.
          </p>

          <p><strong>Pré-requisito:</strong> Ter o <a href="https://www.ruby-lang.org/pt/">Ruby</a> instalado.</p>
          <p>
            Para que as gems funcionem corretamente no MAC, é necessário instalar o XCode:
            <a href="https://itunes.apple.com/us/app/xcode/id497799835?ls=1&mt=12" target="_blank">Instalar XCode via AppStore</a>
          </p>

          <p>
            Mais informações poderão ser encontradas nesse link: 
            <a href="http://www.techbar.me/setting-up-a-ruby-development-environment-on-mac-os/">
              Setting up a Ruby development environment on Mac OS
            </a>
          </p>

          <p><strong>Download:</strong> <a href="gems/opencode_theme-0.0.1b.gem">Tray OpenCode GEM</a></p>

          <p>Instalação:</p>
<pre><code>$ gem install opencode_theme-0.0.1b.gem
$ opencode -h
</code></pre>

          <p>Aqui são exibidas todas as opções da GEM:</p>
          <p><img src="images/opencode-h.png" alt="OpenCode - Lista os comandos"></p>

          <p>Para criar seu primeiro tema, execute os seguintes comandos:</p>
<pre><code>$ mkdir primeiro-tema
$ cd primeiro-tema
$ opencode bootstrap API_KEY PASSWORD 'PrimeiroTema'</code></pre>

          <p>Após realizar o bootstrap, ele baixará todos os arquivos pra você começar.</p>
          <p><img src="images/opencode-download.png" alt="OpenCode - Download dos arquivos dos temas"></p>

          <p>Após isso, execute: <code>$ opencode watch</code></p>
          <p>Sempre que salvar um arquivo, ele realizará o upload automaticamente:</p>

          <p><img src="images/opencode-watch.png" alt="OpenCode - upload/download automatico"></p>

          <h4 id="op-o-2-git">Opção 2: Git</h4>
          <p>Você poderá clonar o nosso repositório, executando o seguinte comando:</p>

          <pre><code>git clone git@github.com:tray-tecnologia/theme-template.git nome-tema</code></pre>

          <p>O upload deverá ser feito via interface, veja na opção 3.</p>

          <!--
          <h4 id="op-o-3-bower">Opção 3: Bower</h4>
          <p>Também poderá instalar pelo <a href="http://bower.io">Bower</a>:</p>

          <pre><code>bower install tray-theme-template</code></pre>

          <p>O upload deverá ser feito via interface, veja na opção 3.</p>
          -->

          <h4 id="op-o-4-download-via-interface">Opção 3: Download/upload via interface</h4>
          <p>Você consegue fazer várias operações (inclusão, upload, download, publicação) pela nossa interface. A imagem a seguir é a tela principal do Tray OpenCode.</p>
          <p><img src="images/opencode-ui-principal.png" alt=""></p>

          <p>O primeiro passo é "Incluir um novo layout":</p>
          <p><img src="images/opencode-incluir.png" alt="OpenCode - incluir novo layout"></p>

          <p>Após isso, poderá baixar os arquivos, alterá-los e realizar o upload dos mesmos:</p>
          <p><img src="images/opencode-ui.png" alt=""></p>

          <p>Então, poderá clicar em "Visualizar layout" para conferir como seu tema está ficando.</p>

<h2>
<a name="estrutura-do-tema" class="anchor" href="#estrutura-do-tema"><span class="octicon octicon-link"></span></a>Estrutura do tema</h2>

<p>Para manter o desenvolvimento dos temas bem organizado, disponibilizamos uma estrutura enxuta e simples para seus arquivos. Veja a estrutura inicial:</p>

<pre><code>elements/ -&gt; trechos de código e componentes reutilizáveis
layouts/  -&gt; estrutura do seu tema, código que será carregado em todas as páginas
pages/    -&gt; conteúdo de cada página da sua loja
css/      -&gt; você pode inserir suas folhas de estilo e webfonts
js/       -&gt; você pode inserir seus plugins js
img/      -&gt; pasta de imagens
configs/  -&gt; opções da sua loja virtual
</code></pre>

<p>Nas pastas "elements", "css", "js" e "img" você poderá criar os arquivos da maneira que achar melhor.</p>

<p>Porém, nas pastas "layouts" e "pages" você precisará criar o arquivo com o nome correto. Veja os arquivos que você pode criar:</p>

<pre><code>layouts/
    ajax.html (páginas que são carregadas via ajax)
    default.html (todas as páginas, exceto as carregadas via ajax)
    error.html (crie sua página de erro personalizada)
pages/
    home.html (página inicial)
    map.html (mapa do site)
</code></pre>

<p><strong>Obs:</strong> Essa lista de arquivos disponíveis será atualizada constantemente.</p>

<h3>
<a name="codifica%C3%A7%C3%A3o-de-arquivos" class="anchor" href="#codifica%C3%A7%C3%A3o-de-arquivos"><span class="octicon octicon-link"></span></a>Codificação de arquivos</h3>

<p>Utilize a codificação dos seus arquivos sempre ISO-8859-1.</p>

<p>Se estiver utilizando o Sublime Text, adicione as seguintes opções no Settings - User:</p>
<pre><code>"fallback_encoding": "Western (ISO 8859-1)",
"default_encoding": "Western (ISO 8859-1)",
</code></pre>

<h2>
<a name="vari%C3%A1veis-e-helpers" class="anchor" href="#vari%C3%A1veis-e-helpers"><span class="octicon octicon-link"></span></a>Variáveis e Helpers</h2>

<p>Todas as variáveis utilizam o seguinte padrão: <code>myVariable.variable_key</code>. Para exibir o nome do produto, você simplesmente fará a seguinte chamada: <code>{{ product.name }}</code>.
Mas, o que são esses caracteres <code>{{ }}</code>?</p>

<p>Nós utilizamos um <a href="http://en.wikipedia.org/wiki/Template_processor">Template Engine</a> para renderização das views. Você precisará lembrar apenas de dois tipos de chamadas: <code>{{ }}</code> e <code>{% %}</code>. Veja os exemplos de utilização abaixo:</p>

<h5>
<a name="exemplos" class="anchor" href="#exemplos"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<p>Imprimindo variáveis:</p>

<pre lang="twig"><code>{{ product.name }}
</code></pre>

<p><code>if</code>:</p>

<pre><code>{% if product.name %}
    {{ product.name }}
{% endif %}
</code></pre>

<p><code>for</code>:</p>

<pre><code>{% for image in product.images %}
    &lt;img src="{{ image.src }}" alt="{{ product.name }}"&gt;
{% endfor %}
</code></pre>

<p>Declarando variáveis:</p>

<pre lang="twig"><code>{% set company = 'Tray' %}
</code></pre>

<p>Se quiser mais informações sobre a utilização do Template Engine, visite a seguinte página: <a href="http://twig.sensiolabs.org/doc/templates.html">Documentação - Twig</a></p>

<p>Veja agora quais são as variáveis que você pode utilizar no seu tema:</p>

<table>
<thead><tr>
<th>Variável</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>banners</td>
<td>Lista de banners</td>
</tr>
<tr>
<td>categories</td>
<td>Lista de categorias</td>
</tr>
<tr>
<td>cart</td>
<td>Dados contidos no carrinho (total de itens e valor total)</td>
</tr>
<tr>
<td>customer</td>
<td>Dados a respeito do consumidor que está navegando na loja</td>
</tr>
<tr>
<td>links</td>
<td>Links das páginas da loja (contato, login, etc...)</td>
</tr>
<tr>
<td>pages</td>
<td>Lista de páginas cadastradas no Painel Administrativo (<a href="http://wiki.tray.com.br/documentacao/paginas-personalizadas-2/">Páginas Personalizadas</a>)</td>
</tr>
<tr>
<td>paymentMethods</td>
<td>Lista de formas de pagamento configuradas no Painel Administrativo</td>
</tr>
<tr>
<td>products</td>
<td>Lista de produtos</td>
</tr>
<tr>
<td>seals</td>
<td>Selos de segurança que possuem integração com a Tray (ebit, hackersafe)</td>
</tr>
<tr>
<td>settings</td>
<td>Opções da loja</td>
</tr>
<tr>
<td>store</td>
<td>Dados da loja</td>
</tr>
<tr>
<td>tags</td>
<td>Lista de palavras mais buscadas</td>
</tr>
<tr>
<td>themePath</td>
<td>Caminho absoluto do tema</td>
</tr>
<tr>
<td>utils</td>
<td>Utilidades técnicas (hash para assets, etc...)</td>
</tr>
</tbody>
</table><table>
<thead><tr>
<th>Helper</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>banner</td>
<td>Exibe um banner pela posição solicitada</td>
</tr>
<tr>
<td>Image</td>
<td>Mostra uma imagem</td>
</tr>
<tr>
<td>Translation</td>
<td>Mostra um texto de acordo com o idioma configurado</td>
</tr>
</tbody>
</table><h4>
<a name="banners" class="anchor" href="#banners"><span class="octicon octicon-link"></span></a>Banners</h4>

<p>Para imprimir um banner, você poderá utilizar o helper de banner, utilizando a seguinte chamada:</p>

<pre lang="twig"><code>{{ banner.home }}
{{ banner.footer }}
</code></pre>

<p><code>home</code> e <code>footer</code> são as posições em que o banner foi cadastrado. Veja a lista de posições disponíveis: <code>home</code>, <code>footer</code>, <code>bottom</code>, <code>side</code>, <code>title</code>, <code>floating</code>, <code>popup</code>, <code>extra1</code>, <code>extra2</code>, <code>extra3</code>, <code>extra4</code></p>

<p>Se você deseja criar um banner da sua maneira, poderá trabalhar com as seguintes informações:</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>id</td>
<td>Identificador único do banner</td>
</tr>
<tr>
<td>type</td>
<td>Tipo do banner, valores possíveis: "javascript", "image", "flash", "gallery"</td>
</tr>
<tr>
<td>description</td>
<td>Descrição do banner</td>
</tr>
<tr>
<td>src</td>
<td>URL do banner</td>
</tr>
<tr>
<td>link</td>
<td>Link do banner (apenas nos tipos "javascript" e "image")</td>
</tr>
<tr>
<td>width</td>
<td>Largura da imagem ou do objeto flash</td>
</tr>
<tr>
<td>height</td>
<td>Altura da imagem</td>
</tr>
<tr>
<td>alt_text</td>
<td>Texto alternativo para a imagem do banner</td>
</tr>
<tr>
<td>target</td>
<td>Se o link vai abrir em uma nova janela ou na mesma</td>
</tr>
<tr>
<td>banner_alt</td>
<td>Banner alternativo caso não tenha suporte ao flash (apenas quando o tipo for "flash"), possui as chaves "src", "link", "target"</td>
</tr>
<tr>
<td>margin_top</td>
<td>Especifica a posição do banner referente ao topo da página (apenas banner "floating")</td>
</tr>
<tr>
<td>margin_left</td>
<td>Especifica a posição do banner referente ao lado esquerdo da página</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-1" class="anchor" href="#exemplos-1"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<p>Lembrando que o padrão de chamada é sempre: <code>banners.{position}.{key}</code>. Veja exemplos utilizando a posição <code>home</code>:</p>

<pre lang="twig"><code>{{ banners.home.id }}
{{ banners.home.type }}
{{ banners.home.description }}
{{ banners.home.src }}
{{ banners.home.link }}
{{ banners.home.width }}
{{ banners.home.height }}
{{ banners.home.alt_text }}
{{ banners.home.target }}
{{ banners.home.banner_alt.src }}
{{ banners.home.banner_alt.link }}
{{ banners.home.banner_alt.target }}
</code></pre>

<h5>Banner JS</h5>
<p>O banner JavaScript possui algumas informações que os outros banners não tem, segue a lista:</p>
<table>
  <thead>
    <tr>
      <th>Chaves</th>
      <th>Descrição</th>
      <th>Valores</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>interval</td>
      <td>Intervalo da transição entre cada slide</td>
      <td>3 a 10 (segundos)</td>
    </tr>
    <tr>
      <td>velocity</td>
      <td>Velocidade da animação</td>
      <td>0.5 | 1.0 | 1.5 | 2.0</td>
    </tr>
    <tr>
      <td>animation</td>
      <td>Tipo da animação</td>
      <td>blind | block | cube | cubeSpread | fade | fadeFour | glassCube | horizontal | tube</td>
    </tr>
    <tr>
      <td>stop_over</td>
      <td>Pausar a troca de slides quando o mouse estiver sobre o banner</td>
      <td>0 | 1</td>
    </tr>
    <tr>
      <td>navigation</td>
      <td>Tipos de navegação</td>
      <td>0 | 1 | 2</td>
    </tr>
    <tr>
      <td>progressbar</td>
      <td>Exibir barra de progresso</td>
      <td>0 | 1</td>
    </tr>
    <tr>
      <td>slides</td>
      <td>Dados das imagens cadastradas</td>
      <td>image | link | label | target | width | height</td>
    </tr>
  </tbody>
</table>
<h5>
  <a name="exemplos-bannerjs" class="anchor" href="#exemplos-bannerjs">
    <span class="octicon octicon-link"></span>
  </a>
  Exemplos Banner JS
</h5>
</h5>
<pre lang="twig"><code>{{ banners.extra1.interval }}
{{ banners.extra1.velocity }}
{{ banners.extra1.animation }}
{{ banners.extra1.stop_over }}
{{ banners.extra1.navigation }}
{{ banners.extra1.progressbar }}
{% for slide in banners.extra1.slides %}
    &#x3C;a href=&#x22;{{ slide.link }}&#x22; target=&#x22;{{ slide.target }}&#x22;&#x3E;
        &#x3C;img src=&#x22;{{ slide.image }}&#x22; alt=&#x22;{{ slide.label }}&#x22; /&#x3E;
    &#x3C;/a&#x3E;
{% endfor %}
</code></pre>

<h4>
<a name="cart" class="anchor" href="#cart"><span class="octicon octicon-link"></span></a>Cart</h4>

<p>Informações do carrinho de compras.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>amount</td>
<td>Total de produtos no carrinho</td>
</tr>
<tr>
<td>price</td>
<td>Valor total à pagar</td>
</tr>
</tbody>
</table>
<p><strong>Obs: </strong>Para problemas com cache, leia sobre o <a href="#cart-1">módulo Cart em JavaScript</a></p>
<h5>
<a name="exemplos-2" class="anchor" href="#exemplos-2"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>{{ cart.amount }}
{{ cart.price }}
</code></pre>

<h4>
<a name="categories" class="anchor" href="#categories"><span class="octicon octicon-link"></span></a>Categories</h4>

<p>Informações sobre as categorias cadastradas no Painel Administrativo.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>id</td>
<td>Identificador único da categoria</td>
</tr>
<tr>
<td>parent</td>
<td>Identificador único da categoria mãe</td>
</tr>
<tr>
<td>name</td>
<td>Nome da categoria</td>
</tr>
<tr>
<td>description</td>
<td>Descrição da categoria</td>
</tr>
<tr>
<td>children</td>
<td>Subcategorias</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-3" class="anchor" href="#exemplos-3"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>{% for category in categories %}
    {{ category.id }}
    {{ category.parent }}
    {{ category.name }}
    {{ category.description }}
    {{ category.link }}
    {% for child in category.children %}
        {{ child.id }}
        {{ child.name }}
    {% endfor %}
{% endfor %}
</code></pre>

<h4>
<a name="customer" class="anchor" href="#customer"><span class="octicon octicon-link"></span></a>Customer</h4>

<p>Dados do consumidor que está navegando na loja.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>id</td>
<td>Identificador único do cliente (se estiver logado)</td>
</tr>
<tr>
<td>logged</td>
<td>Retorna se está logado ou não</td>
</tr>
<tr>
<td>name</td>
<td>Nome completo do cliente</td>
</tr>
<tr>
<td>email</td>
<td>E-mail do cliente</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-4" class="anchor" href="#exemplos-4"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>{{ customer.logged }}
{{ customer.name }}
{{ customer.id }}
{{ customer.email }}
</code></pre>

<h4>
<a name="image" class="anchor" href="#image"><span class="octicon octicon-link"></span></a>Image</h4>

<p>Use esse helper para exibir uma imagem cadastrada no Painel Administrativo.</p>
<p>Para entender como cadastrar imagens, visite: <a href="http://wiki.tray.com.br/documentacao/botoes-da-loja-2/">Imagens/Botões da loja</a>.</p>

<h5>
<a name="exemplos-5" class="anchor" href="#exemplos-5"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>{{ Image('botao_adicional') }}
{{ Image('botao_compre_junto') }}
{{ Image('calcular_frete') }}
{{ Image('comprar') }}
{{ Image('continuar_comprando') }}
{{ Image('cupom_desconto') }}
{{ Image('cadastre_se') }}
{{ Image('destaque') }}
{{ Image('enviar') }}
{{ Image('escolher') }}
{{ Image('fretegratis') }}
{{ Image('lancamento') }}
{{ Image('login') }}
{{ Image('logo_loja') }}
{{ Image('prosseguir_cadastro') }}
{{ Image('prosseguir_compra') }}
{{ Image('simular_frete') }}
{{ Image('sobconsulta') }}
</code></pre>

<h4>
<a name="links" class="anchor" href="#links"><span class="octicon octicon-link"></span></a>Links</h4>

<p>Utilize juntamente com a tag <code>&lt;a&gt;</code>, ex: <code>&lt;a href="{{ links.home }}"&gt;Página Inicial&lt;/a&gt;</code>.</p>

<p>Poderá utilizar também com actions de formulários: <code>&lt;form action="{{ links.search }}"&gt;</code>. Esse exemplo vai submeter para a página de busca.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>home</td>
<td>Página inicial</td>
</tr>
<tr>
<td>company</td>
<td>Página com informações sobre a loja/empresa</td>
</tr>
<tr>
<td>contact</td>
<td>Página de contato</td>
</tr>
<tr>
<td>cart</td>
<td>Página do carrinho de compras</td>
</tr>
<tr>
<td>info</td>
<td>Página de informações gerais sobre os processos da loja</td>
</tr>
<tr>
<td>info_buy</td>
<td>Âncora de informações sobre compra</td>
</tr>
<tr>
<td>security</td>
<td>Âncora de informações sobre segurança</td>
</tr>
<tr>
<td>warranty</td>
<td>Âncora de informações sobre garantia</td>
</tr>
<tr>
<td>send</td>
<td>Âncora de informações sobre envio</td>
</tr>
<tr>
<td>payment</td>
<td>Âncora de informações sobre pagamento</td>
</tr>
<tr>
<td>newsletter</td>
<td>Página de cadastro de newletter</td>
</tr>
<tr>
<td>map</td>
<td>Página mapa do site</td>
</tr>
<tr>
<td>register</td>
<td>Página de cadastro</td>
</tr>
<tr>
<td>central</td>
<td>Página da central do cliente</td>
</tr>
<tr>
<td>login</td>
<td>Página de login</td>
</tr>
<tr>
<td>orders</td>
<td>Página de pedidos</td>
</tr>
<tr>
<td>orders_tracking</td>
<td>Página de rastreio de pedidos</td>
</tr>
<tr>
<td>orders_return</td>
<td>Página de trocas/devoluções</td>
</tr>
<tr>
<td>payment_confirm</td>
<td>Página de confirmação de pagamento</td>
</tr>
<tr>
<td>account</td>
<td>Página central do cliente</td>
</tr>
<tr>
<td>account_password</td>
<td>Página de alteração de senha</td>
</tr>
<tr>
<td>logout</td>
<td>Página de logout</td>
</tr>
<tr>
<td>search</td>
<td>Página de busca</td>
</tr>
<tr>
<td>search_by_brand</td>
<td>Página de busca por marca</td>
</tr>
<tr>
  <td>search_new</td>
  <td>Link para a página de busca listando apenas os produtos em lançamento</td>
</tr>
<tr>
  <td>search_featured</td>
  <td>Link para a página de busca listando apenas os produtos em destaque</td>
</tr>
<tr>
  <td>search_offer</td>
  <td>Link para a página de busca listando apenas os produtos em promoção</td>
</tr>
<tr>
  <td>search_order_name</td>
  <td>Link para a página de busca listando produtos ordenados por nome</td>
</tr>
<tr>
  <td>search_order_price</td>
  <td>Link para a página de busca listando produtos ordenados por preço</td>
</tr>
<tr>
  <td>search_order_bestsellers</td>
  <td>Link para a página de busca listando produtos ordenados pelos mais vendidos</td>
</tr>
<tr>
  <td>search_order_featured</td>
  <td>Link para a página de busca listando produtos ordenados por destaque</td>
</tr>
<tr>
  <td>search_order_new</td>
  <td>Link para a página de busca listando produtos ordenados por lançamento</td>
</tr>
<tr>
  <td>search_order_release</td>
  <td>Link para a página de busca listando produtos ordenados por data de lançamento</td>
</tr>
</tbody>
</table><pre lang="twig"><code>&lt;a href="{{ links.home }}"&gt;Página Inicial&lt;/a&gt;
&lt;a href="{{ links.company }}"&gt;Empresa&lt;/a&gt;
&lt;a href="{{ links.contact }}"&gt;Fale conosco&lt;/a&gt;
&lt;a href="{{ links.cart }}"&gt;Carrinho de compras&lt;/a&gt;
&lt;a href="{{ links.info }}"&gt;Mais informações&lt;/a&gt;
&lt;a href="{{ links.info_buy }}"&gt;Como comprar&lt;/a&gt;
&lt;a href="{{ links.security }}"&gt;Segurança&lt;/a&gt;
&lt;a href="{{ links.warranty }}"&gt;Garantia&lt;/a&gt;
&lt;a href="{{ links.send }}"&gt;Envio&lt;/a&gt;
&lt;a href="{{ links.payment }}"&gt;Pagamento&lt;/a&gt;
&lt;a href="{{ links.newsletter }}"&gt;Inscreva-se para receber novidades&lt;/a&gt;
&lt;a href="{{ links.map }}"&gt;Mapa do site&lt;/a&gt;
&lt;a href="{{ links.register }}"&gt;Cadastre-se&lt;/a&gt;
&lt;a href="{{ links.central }}"&gt;Central do cliente&lt;/a&gt;
&lt;a href="{{ links.login }}"&gt;Entrar&lt;/a&gt;
&lt;a href="{{ links.orders }}"&gt;Meus pedidos&lt;/a&gt;
&lt;a href="{{ links.logout }}"&gt;Sair&lt;/a&gt;

&lt;a href="{{ links.search }}"&gt;Buscar&lt;/a&gt;
&lt;a href="{{ links.search_by_brand }}tray"&gt;Buscar pela marca "tray"&lt;/a&gt;
&lt;a href="{{ links.search_new }}"&gt;Produtos em lançamento&lt;/a&gt;
&lt;a href="{{ links.search_featured }}"&gt;Produtos em destaque&lt;/a&gt;
&lt;a href="{{ links.search_offer }}"&gt;Ofertas&lt;/a&gt;
&lt;a href="{{ links.search_order_name }}"&gt;Produtos ordenados por nome&lt;/a&gt;
&lt;a href="{{ links.search_order_price }}"&gt;Produtos ordenados por preço&lt;/a&gt;
&lt;a href="{{ links.search_order_bestsellers }}"&gt;Mais vendidos&lt;/a&gt;
&lt;a href="{{ links.search_order_featured }}"&gt;Produtos em destaque aparecem primeiro&lt;/a&gt;
&lt;a href="{{ links.search_order_new }}"&gt;Produtos em lançamento aparecem primeiro&lt;/a&gt;
&lt;a href="{{ links.search_order_release }}"&gt;Produtos ordenados pela data de lançamento&lt;/a&gt;
</code></pre>

<p>Outros links</p>
<pre lang="twig"><code>&lt;a href="{{ links.news }}"&gt;Últimas notícias&lt;/a&gt;
&lt;a href="{{ links.customer_reviews }}"&gt;Depoimentos dos clientes&lt;/a&gt;
</code></pre>

<h4>
<a name="pages" class="anchor" href="#pages"><span class="octicon octicon-link"></span></a>Pages</h4>

<p>Contém informações das páginas da loja.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>current</td>
<td>Em qual página o usuário está navegando, ex: <code>home</code>
</td>
</tr>
<tr>
<td>custom</td>
<td><a href="http://wiki.tray.com.br/documentacao/paginas-personalizadas-2/">Páginas Personalizadas</a> cadastradas no Painel Administrativo</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-6" class="anchor" href="#exemplos-6"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>{% if pages.current == 'home' %}
    Você está na nossa página inicial, navegue na nossa loja!
{% endif %}

{% for custom in pages.custom %}
    &lt;a href="{{ custom.url }}"&gt;{{ custom.name }}&lt;/a&gt;
{% endfor %}
</code></pre>

<h5>
<a name="exemplos-6" class="anchor" href="#exemplos-6"><span class="octicon octicon-link"></span></a>Páginas principais</h5>
<table>
<thead><tr>
<th>Retorno de {{ pages.current }}</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>home</td>
<td>Página inicial da loja</td>
</tr>
<tr>
<td>search</td>
<td>Página de busca</td>
</tr>
<tr>
<td>catalog</td>
<td>Página de catágogo (categoria)</td>
</tr>
<tr>
<td>product</td>
<td>Página de produto</td>
</tr>
<tr>
<td>checkout_cart</td>
<td>Carrinho de compras</td>
</tr>
<tr>
<td>register</td>
<td>Página de cadastro</td>
</tr>
<tr>
<td>login</td>
<td>Página de login</td>
</tr>
<tr>
<td>checkout_payment</td>
<td>Escolha de pagamento na finalização de compra</td>
</tr>
<tr>
<td>company</td>
<td>Quem somos</td>
</tr>
<tr>
<td>map</td>
<td>Mapa do site</td>
</tr>
</tbody>
</table>

<h4>
<a name="payment-methods" class="anchor" href="#payment-methods"><span class="octicon octicon-link"></span></a>Payment Methods</h4>

<p>Informações de formas de pagamento cadastradas no Painel Administrativo.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>order</td>
<td>Formas de pagamento à vista</td>
</tr>
<tr>
<td>credit</td>
<td>Formas de pagamento à prazo</td>
</tr>
</tbody>
</table><table>
<thead><tr>
<th>Sub-chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>thumb</td>
<td>Caminho da imagem da forma de pagamento</td>
</tr>
<tr>
<td>description</td>
<td>Descrição da forma de pagamento</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-7" class="anchor" href="#exemplos-7"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>{% for payment in paymentMethods.order %}
    &lt;img src="{{ payment.thumb }}" alt="{{ payment.description }}" title="{{ payment.description }}"&gt;
{% endfor %}
</code></pre>

<p>Nesse exemplo acima, iteramos por todas as formas de pagamento à vista e exibimos a imagem referente a cada forma.</p>

<h4>
<a name="products" class="anchor" href="#products"><span class="octicon octicon-link"></span></a>Products</h4>

<p>Informações sobre os produtos cadastrados no Painel Administrativo.</p>

<h5>
<a name="buscando-produtos" class="anchor" href="#buscando-produtos"><span class="octicon octicon-link"></span></a>Buscando produtos</h5>

<p>Para buscar produtos de acordo com as suas necessidades, utilize a seguinte chamada:</p>

<pre lang="twig"><code>{% set products = Products({
    'filter': 'featured',
    'limit': 8,
    'order': {'quantity_sold': 'desc'},
    'categories': 1,
    'brands': 'Tray'
}) %}
</code></pre>

<p>A chamada acima retornará até <strong>8</strong> produtos em <strong>destaque</strong> ordenados pelos <strong>mais vendidos</strong> que estejam cadastrados na <strong>categoria 1</strong> e <strong>marca Tray</strong>.</p>

<pre lang="twig"><code>{% set products = Products({
    'filter': 'new'
}) %}
</code></pre>

<p>A chamada acima retornará os produtos marcados como lançamento. Veja mais parâmetros disponíveis abaixo:</p>

<h5>
<a name="par%C3%A2metros-dispon%C3%ADveis-todos-os-par%C3%A2metros-s%C3%A3o-opcionais" class="anchor" href="#par%C3%A2metros-dispon%C3%ADveis-todos-os-par%C3%A2metros-s%C3%A3o-opcionais"><span class="octicon octicon-link"></span></a>Parâmetros disponíveis (todos os parâmetros são opcionais)</h5>

<table>
<thead><tr>
<th>Parâmetro</th>
<th>Descrição e opções</th>
</tr></thead>
<tbody>
<tr>
<td>filter</td>
<td>featured, new, free_shipping, promotion, available, rand</td>
</tr>
<tr>
<td>limit</td>
<td>Quantidade máxima de produtos que será retornada</td>
</tr>
<tr>
<td>order</td>
<td>id, name, price, created</td>
</tr>
<tr>
<td>categories</td>
<td>ID da categoria</td>
</tr>
<tr>
<td>brands</td>
<td>String da marca</td>
</tr>
</tbody>
</table><p><strong>Obs:</strong> É possível realizar múltiplas ordenações, conforme exemplo:</p>

<pre lang="twig"><code>{% set products = Products({
    'order': {
        'quantity_sold': 'desc',
        'name': 'asc',
        'id': 'desc'
    }
}) %}
</code></pre>

<p>As requisições de produtos sempre retornarão um array de dados onde cada chave está descrita abaixo.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>id</td>
<td>Identificador único do produto</td>
</tr>
<tr>
<td>name</td>
<td>Nome do produto</td>
</tr>
<tr>
<td>category_id</td>
<td>Identificador único da categoria principal do produto</td>
</tr>
<tr>
<td>price</td>
<td>Valor do produto</td>
</tr>
<tr>
<td>price_offer</td>
<td>Valor do produto em promoção</td>
</tr>
<tr>
  <td>payment</td>
  <td>Retorna o parcelamento do produto</td>
</tr>
<tr>
<td>link</td>
<td>Link para a página do produto</td>
</tr>
<tr>
<td>available</td>
<td>Disponibilidade do produto</td>
</tr>
<tr>
<td>stock</td>
<td>Quantidade de produtos em estoque</td>
</tr>
<tr>
<td>featured</td>
<td>Retorna verdadeiro se for destaque</td>
</tr>
<tr>
<td>new</td>
<td>Retorna verdadeiro se for lançamento</td>
</tr>
<tr>
<td>free_shipping</td>
<td>Retorna verdadeiro se possuir frete grátis</td>
</tr>
<tr>
<td>additional_button</td>
<td>Retorna verdadeiro se possuir botão adicional cadastrado</td>
</tr>
</tbody>
</table><h5>
<a name="imagens" class="anchor" href="#imagens"><span class="octicon octicon-link"></span></a>Imagens</h5>

<p>Informações sobre as imagens dos produtos.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>small</td>
<td>30x30</td>
</tr>
<tr>
<td>medium</td>
<td>90x90</td>
</tr>
<tr>
<td>large</td>
<td>180x180</td>
</tr>
<tr>
<td>full</td>
<td>Tamanho original</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-8" class="anchor" href="#exemplos-8"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>{% set products = Products({'filter': 'featured'}) %}

{% for product in products %}
    {{ product.id }}
    {{ product.name }}
    {{ product.category_id }}

    {% for image in product.images %}
        &lt;img src="{{ image.small }}" alt=""&gt;
        &lt;img src="{{ image.medium }}" alt=""&gt;
        &lt;img src="{{ image.large }}" alt=""&gt;
        &lt;img src="{{ image.full }}" alt=""&gt;
    {% endfor %}
          
    {{ product.price }}
    {{ product.price_offer }}
    {{ product.payment }}
    {{ product.link }}
    {{ product.available }}
    {{ product.stock }}
    {{ product.featured }}
    {{ product.new }}
    {{ product.free_shipping }}
    {{ product.additional_button }}
    {{ product.quantity_sold }}
{% endfor %}

{% if product.price_offer &gt; 0 %}
    Esse produto está em promoção, por isso vamos mostrar uma imagem grande:
    &lt;img src="{{ product.images[0].full }}" alt="{{ product.name }}"&gt;
{% endfor %}
</code></pre>

<h4>
<a name="seals" class="anchor" href="#seals"><span class="octicon octicon-link"></span></a>Seals</h4>

<p>A Tray possui integração com 2 selos: <a href="http://www.lojaprotegida.com.br/">Loja Protegida</a> e <a href="http://www.ebit.com.br/">Ebit</a>.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>ebit</td>
<td>Retorna o HTML do selo do Ebit</td>
</tr>
<tr>
<td>hackersafe</td>
<td>Retorna o HTML do selo Loja Protegida</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-9" class="anchor" href="#exemplos-9"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>{{ seals.ebit }}
{{ seals.hackersafe }}
</code></pre>

<h4>
<a name="settings" class="anchor" href="#settings"><span class="octicon octicon-link"></span></a>Settings</h4>

<p>Existem algumas opções de nossos recursos que podem ser encontrados aqui. Em breve mais informações.</p>

<h4>
<a name="store" class="anchor" href="#store"><span class="octicon octicon-link"></span></a>Store</h4>

<p>Informações básicas da loja.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>id</td>
<td>Identificador único da loja</td>
</tr>
<tr>
<td>name</td>
<td>Nome da loja</td>
</tr>
<tr>
<td>url</td>
<td>URL da loja</td>
</tr>
<tr>
<td>chat</td>
<td>Retorna o conteúdo do campo "Atendimento Online" cadastrado no Painel Administrativo</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-10" class="anchor" href="#exemplos-10"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>{{ store.name }}
{{ store.id }}
{{ store.url }}
{{ store.chat }}
</code></pre>

<h4>
<a name="tags" class="anchor" href="#tags"><span class="octicon octicon-link"></span></a>Tags</h4>

<p>Lista de palavras mais buscadas na loja.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>font_size</td>
<td>Tamanho da fonte com base na quantidade de vezes que foi buscada</td>
</tr>
<tr>
<td>url</td>
<td>URL para a página de busca</td>
</tr>
<tr>
<td>word</td>
<td>Palavra buscada</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-11" class="anchor" href="#exemplos-11"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>{% for tag in tags %}
    &lt;a href="{{ tag.url }}" style="font-size: {{ tag.font_size }}%"&gt;{{ tag.word }}&lt;/a&gt;
{% endfor %}
</code></pre>

<h4>
<a name="theme-path" class="anchor" href="#theme-path"><span class="octicon octicon-link"></span></a>Theme Path</h4>

<p>Caminho absoluto do tema para ser utilizado juntamente com seus assets.</p>

<pre lang="twig"><code>&lt;img src="{{ themePath }}img/my-image.png" alt=""&gt;
&lt;script src="{{ themePath }}js/my-script.js"&gt;&lt;/script&gt;
&lt;link href="{{ themePath }}css/my-style.css" rel="stylesheet" type="text/css"&gt;
</code></pre>

<h4>
<a name="translation" class="anchor" href="#translation"><span class="octicon octicon-link"></span></a>Translation</h4>

<p>Exibe um texto de acordo com o idioma configurado na sua loja no Painel Administrativo.</p>
<p>Para entender como funciona o gerenciamento de textos e internacionalização, acesse: <a href="http://wiki.tray.com.br/documentacao/gerenciamento-de-textos/">Gerenciamento de Textos</a>.</p>

<h5>
<a name="exemplos-12" class="anchor" href="#exemplos-12"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>Translation('key')
</code></pre>

<h4>
<a name="utils" class="anchor" href="#utils"><span class="octicon octicon-link"></span></a>Utils</h4>

<p>Utilidades técnicas.</p>

<table>
<thead><tr>
<th>Chaves</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>assets_version</td>
<td>Hash para arquivos estáticos devido a cache</td>
</tr>
<tr>
<td>is_https</td>
<td>Verifica se está em ambiente seguro</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-13" class="anchor" href="#exemplos-13"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>&lt;script src="my.js?{{ utils.assets_version }}"&gt;&lt;/script&gt;
&lt;link href="my.css?{{ utils.assets_version }}" rel="stylesheet"/&gt;

{% if utils.is_https %}
    Fique tranquilo, você está navegando em um ambiente seguro!
{% endif %}
</code></pre>

<h2>
<a name="m%C3%B3dulos-javascript" class="anchor" href="#m%C3%B3dulos-javascript"><span class="octicon octicon-link"></span></a>Módulos JavaScript</h2>

<p>Todos os nossos módulos trabalham com <a href="http://www.w3.org/html/wg/drafts/html/master/dom.html#embedding-custom-non-visible-data-with-the-data-*-attributes">atributos de dados</a>, sem precisar escrever linhas de JavaScript para que eles funcionem. Veja a lista de módulos disponíveis:</p>

<ul>
<li>banner</li>
<li>cart</li>
<li>customer</li>
<li>filter</li>
<li>search</li>
</ul><h3>
<a name="banner" class="anchor" href="#banner"><span class="octicon octicon-link"></span></a>Banner</h3>

<p>Para mais informações, visite a wiki de <a href="http://wiki.tray.com.br/documentacao/cadastrar-banners/">Banners</a>.</p>

<h4>
<a name="banner-pop-up" class="anchor" href="#banner-pop-up"><span class="octicon octicon-link"></span></a>Banner Pop up</h4>

<p>O banner pop up abre-se em uma nova janela do navegador, no momento em que a loja virtual é aberta.</p>

<table>
<thead><tr>
<th>Atributos</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>data-banner</td>
<td>Posição do banner (ex: <code>popup</code>, <code>gallery</code>)</td>
</tr>
<tr>
<td>data-width</td>
<td>Largura do banner</td>
</tr>
<tr>
<td>data-height</td>
<td>Altura do banner</td>
</tr>
<tr>
<td>data-top</td>
<td>Distância vertical entre o topo até o início do banner</td>
</tr>
<tr>
<td>data-left</td>
<td>Distância horizontal da esquerda até o início do banner</td>
</tr>
<tr>
<td>data-url</td>
<td>URL do banner que será carregada na Pop-Up</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-14" class="anchor" href="#exemplos-14"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<div class="highlight highlight-HTML"><pre><span class="nt">&lt;div</span> <span class="na">data-banner=</span><span class="s">"popup"</span> <span class="na">data-width=</span><span class="s">"200"</span> <span class="na">data-height=</span><span class="s">"200"</span> <span class="na">data-top=</span><span class="s">"400"</span> <span class="na">data-left=</span><span class="s">"400"</span><span class="nt">&gt;&lt;/div&gt;</span>
</pre></div>

<h4>
<a name="banner-gallery" class="anchor" href="#banner-gallery"><span class="octicon octicon-link"></span></a>Banner Gallery</h4>

<p>Para mais informações, visite a wiki do <a href="http://wiki.tray.com.br/documentacao/cadastrar-banners/#cadastrar-galeria">Banner Galeria</a>.</p>

<table>
<thead><tr>
<th>Atributos</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>data-banner</td>
<td>Posição do banner (ex: <code>popup</code>, <code>gallery</code>)</td>
</tr>
<tr>
<td>data-id</td>
<td>Identificador único do banner</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-15" class="anchor" href="#exemplos-15"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>&lt;div data-banner="gallery" data-id="1"&gt;&lt;/div&gt;
</code></pre>

<h3>
<a name="cart-1" class="anchor" href="#cart-1"><span class="octicon octicon-link"></span></a>Cart</h3>

<p>Para contornar o cache, utilize essa marcação para exibir os dados do carrinho atualizados.</p>

<table>
  <thead>
    <tr>
      <th>Atributos</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>data-cart</td>
      <td>amount | price</td>
    </tr>
  </tbody>
</table>

<h5>
<a name="exemplos-16" class="anchor" href="#exemplos-16"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>&lt;span data-cart="amount"&gt;{{ cart.amount }}&lt;/span&gt;
&lt;span data-cart="price"&gt;{{ cart.price }}&lt;/span&gt;
</code></pre>

<h3>
<a name="customer-1" class="anchor" href="#customer-1"><span class="octicon octicon-link"></span></a>Customer</h3>

<p>Para contornar o cache, utilize essa marcação para exibir o nome do cliente logado.</p>

<h5>
<a name="exemplos-17" class="anchor" href="#exemplos-17"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>&lt;span data-customer="name"&gt;{{ customer.name }}&lt;/span&gt;
</code></pre>

<h3>
<a name="filter" class="anchor" href="#filter"><span class="octicon octicon-link"></span></a>Filter</h3>

<p>Nas páginas de catálogo e busca, você poderá filtrar os produtos exibidos e ordená-los. Quando adicionar o atributo <code>data-form="filter"</code> em um formulário, ele iniciará o módulo filter. Esse módulo fará com que sempre que um <code>&lt;select&gt;</code> for alterado (onchange), o formulário seja submetido e recarregue os produtos.</p>

<h5>
<a name="exemplos-18" class="anchor" href="#exemplos-18"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>&lt;form data-form="filter"&gt;
    &lt;select&gt;&lt;/select&gt;
&lt;/form&gt;
</code></pre>

<h3>
<a name="search-suggestion" class="anchor" href="#search-suggestion"><span class="octicon octicon-link"></span></a>Search (Suggestion)</h3>

<p>Para mais informações, visite a <a href="http://wiki.tray.com.br/documentacao/sistema-de-busca-inteligente/#auto-sugestao">Wiki</a></p>

<table>
<thead><tr>
<th>Atributos</th>
<th>Descrição</th>
</tr></thead>
<tbody>
<tr>
<td>data-search</td>
<td>Tipo da busca (ex: <code>suggestion</code>)</td>
</tr>
<tr>
<td>data-input</td>
<td>Caixa de texto principal (ex: <code>suggestion</code>)</td>
</tr>
</tbody>
</table><h5>
<a name="exemplos-19" class="anchor" href="#exemplos-19"><span class="octicon octicon-link"></span></a>Exemplos</h5>

<pre lang="twig"><code>&lt;form data-search="suggestion"&gt;
    &lt;input data-input="suggestion" type="text"&gt;
&lt;/form&gt;
</code></pre>

<h4>
<a name="jquery" class="anchor" href="#jquery"><span class="octicon octicon-link"></span></a>jQuery</h4>
<p>Utilizamos a versão 1.6.2 da jQuery. Estamos em um processo de migração para a jQuery 2.1.1. Mas, para manter a compatibilidade com versões anteriores utilizaremos o <a href="http://jquery.com/upgrade-guide/1.9/">jQuery Migrate</a>.</p>

<p>Evite utilizar funções que estão sendo removidas das novas versões da jQuery.</p>

</section>

        <aside id="sidebar">
          <p>Introdução</p>
          <ul>
            <li><a href="#informacoes-iniciais">Informações iniciais</a></li>
            <li><a href="#avisos">Avisos</a></li>
            <li><a href="#iniciando-meu-primeiro-tema">Iniciando meu primeiro tema</a></li>
          </ul>
          <p>Variáveis e Helpers</p>
          <ul>
            <li><a href="#banners">Banners</a></li>
            <li><a href="#cart">Cart</a></li>
            <li><a href="#categories">Categories</a></li>
            <li><a href="#customer">Customer</a></li>
            <li><a href="#image">Image</a></li>
            <li><a href="#links">Links</a></li>
            <li><a href="#pages">Pages</a></li>
            <li><a href="#payment-methods">Payment Methods</a></li>
            <li><a href="#products">Products</a></li>
            <li><a href="#seals">Seals</a></li>
            <li><a href="#settings">Settings</a></li>
            <li><a href="#store">Store</a></li>
            <li><a href="#tags">Tags</a></li>
            <li><a href="#translation">Translation</a></li>
            <li><a href="#theme-path">Theme Path</a></li>
            <li><a href="#utils">Utils</a></li>
          </ul>
          <p>Módulos JavaScript</p>
          <ul>
            <li><a href="#banner">Banner</a></li>
            <li><a href="#cart-1">Cart</a></li>
            <li><a href="#customer-1">Customer</a></li>
            <li><a href="#filter">Filter</a></li>
            <li><a href="#search-suggestion">Search</a></li>
          </ul>
          <a href="https://github.com/tray-tecnologia/theme-template/zipball/master" class="button">
            <small>Download</small>
            .zip
          </a>
          <a href="https://github.com/tray-tecnologia/theme-template/tarball/master" class="button">
            <small>Download</small>
            .tar.gz
          </a>
        </aside>
      </div>
    </div>
  </body>
</html>
