/*
 * Nessa pagina está todo o codigo do menu esquerdo, nela pode ser definidos
 * links, adicionados alguns 'snippets' pré definidos ou até mesmo editada conforme
 * preferença do desenvolvedor.
 */
<aside class="col-sm-2">
    <div id="dive7rLeftTop"></div>

    {% if 'central_' in pages.current %}
        {% element 'snippets/menu_central' %}
    {% else %}
        <h3>Categorias</h3>
        {% element 'snippets/categories_list' %}
    {% endif %}

    <div id="dive7rLeftMiddle"></div>
    <div id="dive7rLeftBottom"></div>
/* O bloco de código a baixo trata a existência de um banner.
 * Os banner são pré definidos no painel e são editáveis conforme nescessidade.
 * para mais informações acessar os seguntes links:
 * http://dev.tray.com.br/hc/pt-br/articles/206166537-Banners
 * http://atendimento.tray.com.br/hc/pt-br/articles/211174318-Cadastrar-Banners
 * http://atendimento.tray.com.br/hc/pt-br/articles/211175188-Banner-JavaScript
 */

    {% if banner.side %}
        <div class="banner banner-side">
            {{ banner.side }}
        </div>
    {% endif %}
</aside>
