<aside class="sidebar">

    <ul class="sidebar-list">
    {% for section in site.data.menu %}

        <li class="sidebar-title">
            <span>{{ section.title }}</span>
        </li>

        {% for item in section.items %}

            {% for p in site.pages %}

                {% if p.url == item %}
                    <li>
                        <a href="{{ site.baseurl }}{{ p.url }}">
                            {{ p.title }}
                        </a>
                    </li>
                {% endif %}

            {% endfor %}

        {% endfor %}

    {% endfor %}
    </ul>

</aside>
