<aside class="sidebar">
    <ul class="sidebar-list">
        {% assign type = '' %}
        {% for page in site.pages %}
        {% if page.title %}
            {% if page.type != type and page.type %}
                {% assign type = page.type %}
            <li class="sidebar-title">
                <span>{{ type }}</span>
            </li>
            {% endif %}
            <li>
                <a href="{{ site.baseurl }}{{ page.permalink }}">{{ page.title }}</a>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</aside>
