<!-- No Bloco a baixo é verificado se existe algum 'banner.title' cadastrado-->
{% if banner.title %}
    <div class="banner banner-title">
    <!--Caso exista é referenciado o 'banner.title' -->
        {{ banner.title }}
    </div>
{% endif %}

<!-- No Bloco a baixo é verificado se existe breadcrumb -->
{% if breadcrumb %}
    <div class="vspace-sm">
      <!-- Caso exista é referenciado em 'snippets/breadcrumb' -->
        {% element 'snippets/breadcrumb' %}
    </div>
{% endif %}

<!-- Exibe o Nome da categoria através da variavel 'category.name' -->
<h1>{{ category.name }}</h1>

<!-- Verifica se a quantidade de Produtos é maior que 0 -->
{% if products|length > 0 %}
    <!-- Caso a condição for verdadeira é referenciado o 'snippets/filters'
     que no caso é filtrado por marcas referentes a categoria -->

    <div class="vspace-sm">
        {% element 'snippets/filter' {
            'brands': category.brands
        } %}
    </div>

    <div class="vspace-sm">
      <!-- Faz referencia a snippets/pagination -->
        {% element 'snippets/pagination' %}
    </div>

    <div class="vspace-sm">
        <!-- Faz referencia a snippets/showcase  -->
        {% element 'snippets/showcase' {
            "products": products
        } %}
    </div>

    <div class="vspace-sm">
        <!-- Faz referencia a snippets/pagination -->
        {% element 'snippets/pagination' %}
    </div>

{% else %}
    <!-- Caso contrario é exibido a seguinte mensagem -->
    <p>Nenhum produto encontrado nessa categoria.</p>

{% endif %}
