<!--

Variáveis disponíveis:

1. password_recovery: boolean | Indica se o formulário de recuperação de senha foi submetido
2. email_sent: boolean | Indica se houve sucesso no envio para o e-mail indicado
3. email_address: string | E-mail utilizado para recuperação de senha

-->

{% element 'snippets/page_title %}

{% if password_recovery %}
  {% if email_sent %}
    <span class="blocoSucesso">
      <p>Enviamos um e-mail para <strong>{{ email_address }}</strong> com as instruções e o link para você trocar a senha.
      Caso você não receba o e-mail em alguns minutos, verifique a sua caixa de spam ou repita o processo.</p>
    </span>
  {% else %}
    <span class="blocoAlerta">{{ Translation('email_nao_cadastrado') }}</span>
  {% endif %}
{% endif %}

<div class="conteudo">
  <form method="POST" action="" name="formulario_recuperar" id="formulario_recuperar">
    <fieldset>
      <p class="label_digite_email">{{ Translation('digite_email') }}</p>
      <p class="cadastro-campo">
        <label for="email_address">
          {{ Translation('email') }}
          <input type="email" class="text" name="email_address" id="email_address" maxlength="100" size="50" value="" required>
        </label>
      </p>
      <button class="botao-commerce botao-recuperar-senha pointer" type="submit">
        {{ Translation('enviar') }}
      </button>
    </fieldset>
  </form>
</div>
