{# Verifica-se se existe algum 'banner.title' cadastrado,
  caso essa condicao for verdadeira e carregado o 'banner.title'.
  Para saber mais sobre banners verfifique os seguintes links :
  http://dev.tray.com.br/hc/pt-br/articles/206166537-Banners
  http://atendimento.tray.com.br/hc/pt-br/articles/211174318-Cadastrar-Banners #}
{% if banner.title %}
    <div class="banner banner-title">
        {# Caso exista e referenciado o 'banner.title' ele e exibido em todas as paginas antes do titulo #}
        {{ banner.title }}
    </div>
{% endif %}
{# No Bloco a baixo e verificado se existe breadcrumb #}

{% if breadcrumb %}
    <div class="vspace-sm">
      {# Caso exista e referenciado em 'snippets/breadcrumb'
         ele e responsavel por exibir retornar um array com as informacoes de localizacao das categorias relacionadas
         Mais informacoes em http://dev.tray.com.br/hc/pt-br/articles/216263187-Breadcrumb  #}
        {% element 'snippets/breadcrumb' %}
    </div>
{% endif %}

{# verifica de existe palavra a ser buscada, Caso exista mostra o termo buscado com a variavel 'search.word' #}
{% if search.word %}
    <h1>Buscando por: {{ search.word }}</h1>
{% endif %}

{# Verifica se existe produtos referentes a essa palavra #}
{% if products|length > 0 %}
    {# faz referencia a snippets/filter e passa como parametro a marca ' brands'
         do termo pesquisado 'search.brands'  #}
    <div class="vspace-sm">
        {% element 'snippets/filter' {
            'brands': search.brands
        } %}
    </div>
    {# Faz referencia a snippets/pagination que e o element responsavel por fazer a paginacao
       para saber mais acesse: http://dev.tray.com.br/hc/pt-br/articles/205392018-Paginate #}
    <div class="vspace-sm">
        {% element 'snippets/pagination' %}
    </div>
    {# Faz referencia a snippets/showcase, esse elemento e responsavel pela forma de exibicao dos produtos #}
    <div class="vspace-sm">
        {% element 'snippets/showcase' {
            "products": products
        } %}
    </div>
    {# Faz referencia a snippets/pagination que e o element responsavel por fazer a paginacao
       para saber mais acesse: http://dev.tray.com.br/hc/pt-br/articles/205392018-Paginate #}
    <div class="vspace-sm">
        {% element 'snippets/pagination' %}
    </div>

{% else %}
  {# Caso contrario exibe a mensagem a baixo #}
    <p>Nenhum produto encontrado.</p>

{% endif %}
