---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.scope %}
      <strong>Disponível nas páginas:</strong> {{ page.scope }}
    {% endif %}
    {% if page.help %}
      <br><strong>Saiba mais em: </strong>
      <a href="http://wiki.tray.com.br/documentacao/{{ page.help }}/" target="_blank">
        {{ page.help_title }}
      </a>
    {% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
